*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$light_green:#effffa;
$dark_green:#14da8f;
$black:#000000;
$white:#fff;
.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
body {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow-x: hidden;
}
header {
    @extend .dflex;
    padding: 0 13%;
    height: 120px;
    .logo_wrapper {
        font-size: 32px;
        font-weight: 600;
        span {
            color: $dark_green;
        }
    }
    
}
.content_wrapper {
    width: 90%;
    margin: 0 auto;
    @extend .dflex;
    justify-content: space-between;
    align-items: center;
    background-color: $light_green;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-radius: 16px;
    padding: 3%;
    .left_content_wrapper {
        width: 48%;
        h2{
            font-size: 3.3vw;
            font-weight: 600;
            line-height: 1.3;
            overflow: hidden;
            span{
                display: inline-block;
                span.second{
                    margin-left: 15px;
                }
            }
        }
        p{
            font-size: 1.02vw;
            color: #333;
            margin: 20px 0 30px 0;
        }
        .btn_group{
            @extend.dflex;
            width: 70%;
            justify-content: space-between;
            .btn{
                @extend .dflex;
                width: 48%;
                height: 56px;
                font-size: 20px;
                border-radius: 8px;
                font-weight: 600;
                &.btn_primary{
                    background-color: $black;
                    color: $white;
                    svg {
                        margin-left: 8px;
                    }
                }
                &.btn_secondary{
                    background-color:$white;
                    color: $black;
                    border: 1px solid $black;
                }
               
            }

        }
        .review_container{
            margin-top: 50px;
            p.total_review{
                font-weight: 600;
                font-size: 20px;
                color: $black;
                margin: 0;
            }
            form.forms input{
               border-radius: 8px;
               border: 1px solid $black;
               height: 35px;
               margin-top: 5px;
               padding:5px;
               margin-left: 35px;
            }
            form.forms button{
                border-radius: 8px;
                border: 1px solid $black;
                height: 40px;
                margin-top: 5px;
                margin-left: 75px;
                width: 80px;
                padding:5px;
                background-color: $black;
                color: $white;
                font-size: 20px;
                font-weight: 600;
             }
        }
    }
    .right_content_wrapper {
        width: 48%;
        @extend .dflex;
        justify-content: flex-end;
        img {
            display: block;
            width: 100%;
        }
         
    }
        
}
